:root {
  --clr-1: hsl(300, 43%, 22%);
  --clr-2: hsl(333, 80%, 67%);
  --clr-3: hsl(303, 10%, 53%);
  --clr-4: hsl(300, 24%, 96%);
  --clr-5: hsl(0, 0%, 100%);
  --fw-1: 400;
  --fw-2: 500;
  --fw-3: 700;
}

html {
  font-size: 100%;
  font-family: 'Spartan', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: auto;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-image: url(/images/bg-pattern-top-mobile.svg), url(/images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right bottom;
  height: 100vh;
}

.main {
  margin-top: 2rem;
  padding: 0 1.5rem;
}

.top_container {
  margin-bottom: 4rem;
}

.heading {
  margin-bottom: 3rem;
}

.heading_heading {
  text-align: center;
  font-size: 2.2rem;
  font-weight: var(--fw-3);
  color: var(--clr-1);
  margin-bottom: 2rem;
}

.heading_paragraph {
  text-align: center;
  line-height: 1.5rem;
  color: var(--clr-3);
  font-weight: var(--fw-2);
}

.ratings_box {
  background-color: var(--clr-4);
  padding: 1.5rem 0;
  border-radius: 0.5rem;
}

.ratings_box .ratings_stars {
  text-align: center;
  margin-bottom: 0.6rem;
}

.ratings_box .ratings_text {
  text-align: center;
  color: var(--clr-1);
  font-weight: var(--fw-3);
}

.ratings_box:nth-child(2) {
  margin: 1.5rem 0;
}

.bottom_container {
  margin-bottom: 3rem;
}

.reviews_box {
  padding: 3rem 2rem;
  background-color: var(--clr-1);
  border-radius: 0.8rem;
}

.reviews_box .reviews_reviewer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.reviews_box .reviews_reviewer > img {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 2rem;
  border-radius: 50%;
  width: 20%;
}

.reviews_box:nth-child(2) {
  margin: 1.5rem 0;
}

.reviewer_title {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.reviewer_name {
  font-weight: var(--fw-3);
  color: white;
  padding-bottom: 0.3rem;
}

.reviewer_verified {
  font-weight: var(--fw-1);
  color: var(--clr-2);
}

.reviewer_paragraph {
  line-height: 1.5rem;
  font-weight: var(--fw-2);
  color: var(--clr-5);
}

.attribution {
  display: none;
}

@media (min-width: 1400px) {
  body {
    background-image: url(/images/bg-pattern-top-desktop.svg), url(/images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right bottom;
    background-color: var(--clr-5);
  }
  .main {
    margin-top: 4rem;
    padding: 0 1.5rem;
    width: 80vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
  }
  .top_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 95%;
    padding-top: 2rem;
    margin-top: 0;
  }
  .heading {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 0;
  }
  .heading_heading {
    text-align: left;
    width: 60%;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .heading_paragraph {
    text-align: left;
    line-height: 1.9rem;
    font-size: 1.5rem;
    width: 35rem;
  }
  .ratings {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .ratings .ratings_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    padding: 1rem 2rem 1.2rem 2rem;
  }
  .ratings .ratings_box .ratings_stars {
    margin: 0 2rem 0 0;
  }
  .ratings .ratings_box .ratings_text {
    font-size: 1rem;
  }
  .ratings .ratings_box:nth-child(2) {
    -webkit-transform: translate(2.5rem);
            transform: translate(2.5rem);
  }
  .ratings .ratings_box:nth-child(3) {
    -webkit-transform: translate(4.5rem);
            transform: translate(4.5rem);
  }
  .bottom_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5rem;
  }
  .reviews_box {
    padding: 1.5rem 1rem;
    width: 20rem;
  }
  .reviews_box .reviews_reviewer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0.5rem;
  }
  .reviews_box .reviews_reviewer > img {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-right: 2rem;
    border-radius: 50%;
    width: 20%;
  }
  .reviews_box:nth-child(2) {
    margin: 0 2rem 0 2rem;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  .reviews_box:nth-child(3) {
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
  }
  .reviewer_title {
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding-top: 0.5rem;
    margin-bottom: 1.5rem;
  }
  .reviewer_name {
    font-size: 0.9rem;
    font-weight: var(--fw-3);
    color: white;
    padding-bottom: 0.3rem;
  }
  .reviewer_verified {
    font-size: 0.9rem;
    font-weight: var(--fw-1);
    color: var(--clr-2);
  }
  .reviewer_paragraph {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
  .attribution {
    display: block;
    text-align: center;
    border: 2px dotted var(--clr-1);
    padding: 0.5rem 1rem;
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@media (min-width: 1600px) {
  .top_container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .reviews_box {
    padding: 2rem 2rem 3rem 2rem;
    width: 35rem;
  }
}

.reviewer_name,
.reviewer_verified,
.reviewer_paragraph {
  font-size: 1rem;
}

@media (min-width: 2000px) {
  .top_container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 5rem;
  }
  .heading {
    margin-bottom: 3rem;
  }
  .heading_heading {
    font-size: 3.5rem;
    margin-bottom: 3rem;
  }
  .heading_paragraph {
    text-align: left;
    line-height: 1.7rem;
  }
  .ratings_box {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 40rem;
    padding: 1.5rem 0;
    border-radius: 0.5rem;
  }
  .ratings_box .ratings_stars {
    text-align: center;
    margin-bottom: 0.6rem;
  }
  .ratings_box .ratings_stars > img {
    width: 2rem;
  }
  .ratings_box .ratings_text {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .reviews_box {
    padding: 2rem 2rem 4rem 2rem;
    width: 45rem;
  }
  .reviewer_name,
  .reviewer_verified,
  .reviewer_paragraph {
    font-size: 1.3rem;
  }
  .reviewer_paragraph {
    line-height: 1.8rem;
  }
}
/*# sourceMappingURL=styles.css.map */